body{

background-color: rgb(0, 28, 49);

}

.balcao{
    width: 700px;
}

.balcao2{
    width: 900px;
}

.mesas{
    width: 900px;
}

.cozinha{
    width: 900px;
}

.por-fora{
    width: 700px;
}

.medo{
    width: 50px;
}
.medo2{
    width: 800px;
}